/* src/components/pipboy.css */
@font-face {
  font-family: 'SpaceRace';
  src: url('../fonts/space-race-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/background-screen.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'SpaceRace';
  color: #14f074;
  position: relative;
  overflow: hidden; 
}

body:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background: repeating-linear-gradient(
    to bottom,
    rgba(20, 240, 116, 0.1) 0,
    rgba(20, 240, 116, 0.1) 1px,
    transparent 1px,
    transparent 2px
  );
  animation: flicker 0.1s infinite alternate;
}

@keyframes flicker {
  from { opacity: 1; }
  to { opacity: 0.85; }
}

.login-container {
  /* margin-right: 20px; */
  margin-top: 20px;
  padding: 50px;
  border-radius: 0px;
  text-align: left;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.login-content {
  display: flex;
  align-items: center;
}

.logo {
  text-align: center;
  margin-right: 20px; 
}

.logo img {
  width: 300px; 
  height: auto;
  margin-right: 60px;
}

.form-content {
  flex: 1;
}

h1 {
  color: #14f074;
  margin: 0;
  font-size: 27px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: 'SpaceRace', monospace;
}

.subtitle {
  font-size: 13px;
  color: #14f074;
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: 'SpaceRace', monospace;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  background-color: #1f281d;
  border: 1px solid #14f074;
  padding: 10px;
  margin: 10px 0;
  color: #14f074;
  width: 100%;
  font-family: 'SpaceRace', monospace;
  font-size: 18px;
  border-radius: 0px;
}

.login-form input::placeholder {
  color: #14f074;
  font-size: 12px;
  font-family: 'SpaceRace', monospace;
}

.button-group {
  display: flex;
  gap: 15px;
}

.login-form button {
  margin-bottom: 8px;
  background-color: transparent;
  border: 2px solid #14f074;
  padding: 8px 20px;
  color: #14f074;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
  border-radius: 0px;
}

.login-form button:hover {
  color: #1f281d;
  background-color: #14f074;
}

.password-recovery,
.back-to-login {
  font-size: 12px;
  margin-top: 20px;
  align-self: flex-start;
  color: #14f074;
  text-decoration: none;
  font-family: 'SpaceRace', monospace;
}

.password-recovery:hover,
.back-to-login:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0a0a0a;
  color: #14f074;
  overflow: hidden;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px; /* Fixed width for sidebar */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.user-info-title {
  font-family: 'SpaceRace', monospace;
  text-transform: uppercase;
  font-weight: light;
  font-size: 1.2em;
  color: #14f074;
  margin-bottom: 5px;
}

.user-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #14f074;
  padding: 18px 11px 18px 11px;
  width: 100%;
}

.user-info-text {
  margin-bottom: 5px;
}

.username-text {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.3em;
  font-family: 'SpaceRace', monospace;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.inquisition-text {
  font-size: 0.6em;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'SpaceRace', monospace;
  color: #14f074;
}

.verified-text {
  font-size: 0.6em;
  font-family: 'SpaceRace', monospace;
  text-transform: uppercase;
  font-weight: 100;
  color: #14f074;
}

.level-image {
  width: 50px;
  height: auto;
  margin-top: 10px;
}

.levels {
  display: flex;
  font-family: 'SpaceRace', monospace;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 12px;
}

.level-box {
  border: 1px solid #14f074;
  padding: 5px;
  margin-bottom: 11px;
  width: 40px;
  text-align: center;
  font-size: 0.6em;
}

.main-content {
  flex: 1;
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header-buttons {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-buttons button {
  background-color: #1a1a1a;
  border: 1px solid #14f074;
  padding: 10px;
  color: #14f074;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  flex: 1;
  margin-right: 20px;
}

.header-buttons button:last-child {
  margin-right: 0;
}

.terminal-box {
  flex: 1;
  background-color: #000000;
  border: 1px solid rgba(128, 128, 128, 0.3); /* Transparent gray */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.terminal-box::before,
.terminal-box::after,
.terminal-box .corner {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: #14f074;
  border-style: solid;
}

.terminal-box::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

.terminal-box::after {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}

.terminal-box .corner.top-right {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

.terminal-box .corner.bottom-left {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

.terminal-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #14f074;
  background-color: #1a1a1a;
  color: #14f074;
}

.chat-input button {
  padding: 10px;
  background-color: #1a1a1a;
  border: 1px solid #14f074;
  color: #14f074;
  cursor: pointer;
  text-transform: uppercase;
}

.button {
  background-color: transparent;
  border: 2px solid #14f074;
  padding: 8px 20px;
  color: #14f074;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.button:hover {
  color: #1f281d;
  background-color: #14f074;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .main-content {
    width: 100%;
    padding: 10px;
  }

  .header-buttons button {
    font-size: 12px;
    padding: 5px;
  }

  .terminal-box {
    padding: 5px;
  }

  .chat-input input {
    padding: 5px;
  }

  .chat-input button {
    padding: 5px;
  }
}

